@use '../abstracts' as *;
@use '../layout/container' as *;
@use '../layout/card' as *;
@use '../layout/spacing' as *;
@use '../layout/typography' as *;
@use '../theme/colors' as *;
@use '../theme/card' as *;

// event and venue cards styling on Browse page
.card.event-card {
    height: 100%;
    border-radius: $br-lg;

    .card {
        &-img-top {
            height: rem(211);
            background-color: $muted;
            border-radius: $card-inner-border-radius;
        }

        &-body {
            display: flex;
            flex-direction: column;
            height: rem(187);
            font-weight: $fw-medium;
            padding: $text-spacer-xs rem(20);
        }

        &-title {
            @extend .normal-md !optional;
            margin-bottom: 0px;
            line-height: 1.5;

            @extend %multi-line-truncate !optional;
        }

        &-subtitle {
            order: -1;
        }
    }

    .room {
        @extend %text-truncate !optional;
    }
}
