@use '../abstracts' as *;
@use '../layout/container' as *;
@use '../layout/card' as *;
@use '../layout/spacing' as *;
@use '../layout/typography' as *;
@use '../theme/colors' as *;
@use '../theme/card' as *;

// event and venue cards styling on Browse page
.card.event-card {
	height: 100%;

	.card {
		&-img-top {
			height: rem(211);
			background-color: $clr-neutral-6;
			border-radius: $card-inner-border-radius;
		}

		&-body {
			display: flex;
			flex-direction: column;
			flex-basis: rem(178);
			font-weight: $fw-medium;
			padding: rem(12) $text-spacer-sm rem(20);
		}

		&-title {
			font-size: $body-2;
			margin-bottom: 0px;
			line-height: 1.5;

			@extend %multi-line-truncate !optional;
		}

		&-subtitle {
			order: -1;
			color: $text-muted;
			font-size: $caption;
		}

		.card-text {
			.date {
				font-size: $h3-font-size;
			}
		}
	}
}
