@use '../abstracts' as *;
@use '../layout/container' as *;
@use '../theme/colors' as *;

.badge {
    $opac: 0.1;
    display: inline-flex;
    align-items: center;
    gap: rem(8);

    &-lg {
        font-size: rem(28);

        @include breakpoint-min(md) {
            font-size: rem(44);
        }
    }

    &-primary {
        color: $primary;
        background-color: rgba($primary, $opac);

        &::before,
        &::after {
            filter: $primary-filter;
        }
    }

    &::before,
    &::after {
        line-height: 0;
    }

    &--schedule {
        &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 45' fill='none'%3E%3Cpath d='M14.6665 6.00008C14.6665 4.98756 13.8457 4.16675 12.8332 4.16675C11.8206 4.16675 10.9998 4.98756 10.9998 6.00008V7.83341H9.1665C6.12894 7.83341 3.6665 10.2958 3.6665 13.3334V35.3334C3.6665 38.371 6.12894 40.8334 9.1665 40.8334H25.0839C23.672 39.8947 22.4895 38.6385 21.6381 37.1667H9.1665C8.15398 37.1667 7.33317 36.3459 7.33317 35.3334V13.3334C7.33317 12.3209 8.15398 11.5001 9.1665 11.5001H10.9998V13.3334C10.9998 14.3459 11.8206 15.1667 12.8332 15.1667C13.8457 15.1667 14.6665 14.3459 14.6665 13.3334V11.5001H29.3332V13.3334C29.3332 14.3459 30.154 15.1667 31.1665 15.1667C32.179 15.1667 32.9998 14.3459 32.9998 13.3334V11.5001H34.8332C35.8457 11.5001 36.6665 12.3209 36.6665 13.3334V22.1384C38.1383 22.9897 39.3945 24.1723 40.3332 25.5841V13.3334C40.3332 10.2958 37.8707 7.83341 34.8332 7.83341H32.9998V6.00008C32.9998 4.98756 32.179 4.16675 31.1665 4.16675C30.154 4.16675 29.3332 4.98756 29.3332 6.00008V7.83341H14.6665V6.00008Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.1665 39.0001C35.2166 39.0001 38.4998 35.7168 38.4998 31.6667C38.4998 27.6167 35.2166 24.3334 31.1665 24.3334C27.1164 24.3334 23.8332 27.6167 23.8332 31.6667C23.8332 35.7168 27.1164 39.0001 31.1665 39.0001ZM31.1665 42.6667C37.2416 42.6667 42.1665 37.7419 42.1665 31.6667C42.1665 25.5916 37.2416 20.6667 31.1665 20.6667C25.0914 20.6667 20.1665 25.5916 20.1665 31.6667C20.1665 37.7419 25.0914 42.6667 31.1665 42.6667Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.1668 26.1666C32.1794 26.1666 33.0002 26.9874 33.0002 28V30.9072L34.2965 32.2036C35.0125 32.9196 35.0125 34.0804 34.2965 34.7963C33.5806 35.5123 32.4198 35.5123 31.7038 34.7963L29.8705 32.963C29.5267 32.6192 29.3335 32.1529 29.3335 31.6666V28C29.3335 26.9874 30.1543 26.1666 31.1668 26.1666Z' fill='%23777E91'/%3E%3C/svg%3E");
            width: 28px;
            height: 28px;

            @include breakpoint-min(md) {
                width: 44px;
                height: 44px;
            }
        }
    }
}
