@use '../abstracts' as *;
@use './typography' as *;
@use './spacing' as *;
@use './container' as *;
@use '../theme/card' as *;
@use '../theme/colors' as *;

.card {
    box-shadow: $box-shadow;

    &--no-shadow {
        box-shadow: none;
    }

    // about, faq cards
    &--light {
        background-color: $white;
    }

    &-body {
        @include breakpoint-min(md) {
            padding: $text-spacer;
        }
    }

    &-title {
        @extend .fs-md !optional;
        font-weight: $fw-bold;

        // contact us
        &-lg {
            @extend .headline-5 !optional;
            margin-bottom: rem(6);
        }
    }

    &-subtitle {
        margin-top: 0px;
        margin-bottom: rem(5);
        color: $text-muted;
        @extend .small !optional;
        @extend .small-bold !optional;
    }

    &-text,
    ul {
        line-height: 1.8;
        font-weight: $fw-medium;

        @include breakpoint-max(md) {
            font-size: $small;
        }

        & + &,
        & + .row,
        & + .vstack {
            margin-top: $text-spacer-sm;
        }
    }

    .row + &-text {
        margin-top: $text-spacer-sm;
    }

    & + & {
        margin-top: $text-spacer;
    }

    // about cards
    &-sm {
        .card {
            &-body {
                padding: $text-spacer-xs;

                @include breakpoint-min(md) {
                    padding: $text-spacer-sm;
                }
            }
        }
    }
    // footer card
    &-lg {
        .card {
            &-body {
                padding: $text-spacer;

                @include breakpoint-min(md) {
                    padding: rem(51) rem(48);
                }
            }
        }
    }
}
