@use '../abstracts' as *;
@use './spacing' as *;

$pad-sm: rem(24);
$pad-md: rem(40);

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding-left: $pad-sm;
    padding-right: $pad-sm;
    @include breakpoint-min(md) {
        padding-right: $pad-md;
        padding-left: $pad-md;
    }
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.logo {
    @include breakpoint-max(lg) {
        width: rem(30);
    }
}

.mobile-only {
    @include breakpoint-min(md) {
        display: none;
    }
}

.mobile-tablet-only {
    @include breakpoint-min(lg) {
        display: none;
    }
}

.tablet-desktop-only {
    @include breakpoint-max(md) {
        display: none;
    }
}

.desktop-only {
    @include breakpoint-max(lg) {
        display: none;
    }
}
