@use '../abstracts' as *;

// Banner Spacers

// Page/sections Spacers
$spacer: rem(60);
$spacer-sm: rem(44);
$spacer-lg: rem(92);

// Text Spacers
$heading-spacer: rem(32); // page headings
$heading-spacer-sm: rem(24); // page headings
$gap-lg: rem(40); // upcoming events
$gap: rem(32); // about, contact us
$gap-sm: rem(24); // faq
$gap-xs: rem(16); // nav links, footer social icons

$text-spacer-lg: rem(40); // footer card
$text-spacer: rem(32);
$text-spacer-sm: rem(24);
$text-spacer-xs: rem(16);

.spacer {
    padding: $spacer 0px;

    @include breakpoint-min(lg) {
        padding-bottom: $spacer-lg;
    }
}

// upcoming events
.spacer-top {
    margin-top: $spacer;
}

// upcoming events, contact us
.grid-container {
    @include breakpoint-max(md) {
        gap: $gap;

        // upcoming-events
        &-lg {
            gap: $gap-lg;
        }
    }
}

// about
.flex-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: $gap;
    flex-wrap: wrap;

    @include breakpoint-max(md) {
        flex-direction: column;
    }

    @include breakpoint-min(lg) {
        flex-wrap: nowrap;
    }

    // about - top images
    &-sm {
        gap: $gap-sm;
    }
}
