@use '../abstracts' as *;

// Banner Spacers

// Page/sections Spacers
$spacer: rem(60);
$spacer-sm: rem(44);
$spacer-lg: rem(92);

// Text Spacers
$heading-spacer: rem(32); // page headings
$heading-spacer-sm: rem(24); // page headings
$gap-lg: rem(40); // upcoming events
$gap: rem(32); // history, contact us
$gap-sm: rem(24); // private events
$gap-xs: rem(16); // nav links, footer social icons

$text-spacer-lg: rem(40); // cards
$text-spacer: rem(32);
$text-spacer-sm: rem(24);
$text-spacer-xs: rem(16);

.spacer {
    padding: $spacer 0px;

    @include breakpoint-min(lg) {
        padding-bottom: $spacer-lg;
    }
}

// private events, upcoming events
.spacer-top {
    margin-top: $spacer;
}

// private events
.mb-6 {
    margin-bottom: $spacer;

    @include breakpoint-min(lg) {
        margin-bottom: $spacer-sm;
    }
}

// upcoming-events, history, contact us
.grid-container {
    @include breakpoint-max(md) {
        gap: $gap;

        // private events, history
        &-sm {
            gap: $gap-sm;
        }
        // upcoming-events
        &-lg {
            gap: $gap-lg;
        }
    }
}
