@use '../abstracts' as *;
@use './spacing' as *;
@use './container' as *;
@use '../theme/colors' as *;

h1,
.h1 {
    font-size: $h1-font-size;
}
h2,
.h2 {
    font-size: $h2-font-size;
}
h3,
.h3 {
    font-size: $h3-font-size;
}
h4,
.h4 {
    font-size: $h4-font-size;
}
// rearrange because of order of precedence - card titles
h6,
.h6 {
    font-size: $h6-font-size;
}
h5,
.h5 {
    font-size: $h5-font-size;
}

.headline {
    // section headings
    &-1 {
        @extend .h1 !optional; // 48
    }
    // FAQ section heading
    &-2 {
        @extend .h2 !optional; // 40
    }
    // card titles
    &-3 {
        @extend .h3 !optional; // 32
    }
    // card titles, event card text, badge
    &-4 {
        @extend .h4 !optional; // 28
    }
    // card titles
    &-5 {
        @extend .h5 !optional; // 26
    }
    // card titles
    &-6 {
        @extend .h6 !optional; // 20
    }
}

// utility classes for type classes
%bold {
    font-weight: $fw-semi-bold;
}

%medium {
    font-weight: $fw-medium;
}

// 16px
.normal {
    font-size: $body-2;

    &-bold {
        @extend %bold !optional;
    }

    // 18px
    &-md {
        font-size: $body-3;

        &-lg {
            @include breakpoint-min(md) {
                font-size: $body-1;
            }
        }
    }

    // 16 to 24
    &-lg {
        font-size: $body-2;

        @include breakpoint-min(md) {
            font-size: $body-1;
        }
    }
}

// 24px
.fs-md {
    font-size: $body-1;

    &-bold {
        @extend %bold !optional;
    }
}

// 14px
.small {
    font-size: $small;

    &-bold {
        @extend %medium !optional;
    }
}

// 12px
.caption {
    font-size: $caption;

    &-bold {
        @extend %bold !optional;
    }
}

.nav-link {
    @include breakpoint-min(lg) {
        font-size: $body-2;
    }
}

.heading-font {
    font-weight: $fw-bold;
}

.section-heading {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        @extend .heading-font !optional;
    }

    margin-bottom: $heading-spacer;
}

.heading {
    margin: 0px;
    font-size: $body-1;
    @include breakpoint-min(md) {
        font-size: $h3-font-size;
    }

    // hero
    &-lg {
        @extend .headline-3 !optional;
        @include breakpoint-min(md) {
            font-size: $h1-font-size;
        }
    }
}

.fw-medium {
    font-weight: $fw-medium;
}

.fw-semi-bold {
    font-weight: $fw-semi-bold;
}

.fw-bold {
    font-weight: $fw-bold !important;
}

.text-uppercase {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-family: $font-body;
}

%text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

%multi-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
