@use '../../scss/abstracts' as *;
@use '../../scss/theme/card' as *;
@use '../../scss/theme/colors' as *;
@use '../../scss/layout/spacing' as *;

.footer {
    padding-bottom: $text-spacer;

    .logo {
        @include breakpoint-max(md) {
            width: 148px;
        }
    }

    .info,
    .address,
    .socialIcons {
        @include breakpoint-max(lg) {
            justify-content: center;
            align-items: center;
        }
    }

    .address {
        @include breakpoint-max(lg) {
            text-align: center;
        }

        @include breakpoint-min(lg) {
            justify-content: space-between;
        }
    }

    .socialIcons {
        gap: $gap-xs;
    }

    .poweredBy {
        @include breakpoint-max(lg) {
            border-top: border();
            margin-top: $text-spacer;
            padding-top: $text-spacer;
            width: 100%;
        }
        @include breakpoint-min(lg) {
            border-left: border();
            padding-left: $text-spacer;
            flex: 2;
        }

        p {
            @include breakpoint-min(lg) {
                padding-top: rem(20);
                padding-bottom: rem(20);
            }
            
            span {
                vertical-align: middle;
            }
        }
    }
}
