@use '../../../scss/abstracts' as *;
@use '../../../scss/layout/spacing' as *;
@use '../../../scss/theme/borders' as *;

.card {
    address {
        font-size: $body-2;
    }
}

.image {
    height: 100%;
    border-radius: $border-radius-sm;

    @include breakpoint-max(md) {
        height: 226px;
    }
}

.map {
    @include breakpoint-max(md) {
        order: -1;
    }
}
