@use '../abstracts' as *;
@use '../layout/spacing' as *;
@use '../theme/borders' as theme;

$card-bg: #ffff;
$card-border-color: transparent;
$card-border-radius: theme.$border-radius;
$card-inner-border-radius: theme.$border-radius theme.$border-radius 0px 0px;
$card-title-spacer-y: $text-spacer-sm;

// card body
$card-spacer-y: $text-spacer-xs;
$card-spacer-x: $text-spacer-xs;
