@use '../abstracts' as *;
@use '../layout/spacing' as *;
@use './borders' as *;

$card-bg: #ffff;
$card-border-color: transparent;
$card-border-radius: $border-radius;
$card-inner-border-radius: $br-md $br-md 0px 0px;
$card-title-spacer-y: $text-spacer-sm;

// card body
$card-spacer-y: rem(24);
$card-spacer-x: rem(24);
