@use '../abstracts' as *;
@use '../layout/pills' as *;
@use '../layout/container' as *;
@use './colors' as *;

$navbar-padding-y: rem(12);
$navbar-padding-x: $pad-sm;

$navbar-light-color: $body-color;
$navbar-light-hover-color: $body-color;
$navbar-light-active-color: $primary;
$nav-link-font-size: $small;
$nav-link-font-weight: $fw-medium;
$navbar-nav-link-padding-x: $pills-pad-x;
