@use './abstracts' as *;
@use './layout/spacing' as *;
@use './theme/colors' as *;

address {
    font-family: $font-body;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: $body-color;
    -webkit-text-fill-color: $body-color;
    transition: background-color 5000s ease-in-out 0s;
}

section + section {
    margin-top: rem(60);

    @include breakpoint-min(lg) {
        margin-top: $spacer-sm;
    }
}
